
body {
  background-image: none;
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 0;
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #770000;
  border: 1px solid #770000; 
  transform: translate(-50%, -50%);
  margin: 0;
}

.battle__page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 25px;
}

.battle__wrapper {
  display: flex;
  justify-content: space-between;
}

.character__side,
.enemy__side {
  padding-top: 50px;
}
.char__img__wrapper {
  position: relative;
  width: 350px;
  height: 307px;
  display: flex;
  justify-content: center;
}
.char__img__wrapper output {
  padding-top: 0;
  position: absolute;
  z-index: 1;
  bottom: 21px;
  left: 135px;
}
.char__img__frame {
  position: absolute;
  z-index: 0;
}
#choosen__char__img {
  position: absolute;
  z-index: 1;
  top: 22px;
  left: 82px;
}

.enemy__img__wrapper {
  position: relative;
  width: 350px;
  height: 307px;
}
.enemy__name {
  padding-top: 0;
  position: absolute;
  z-index: 1;
  bottom: 21px;
  left: 150px;
  text-transform: uppercase;
  font-family: "Life Savers", serif;
  font-size: 24px;
  font-weight: 800;
}
.enemy__img__frame {
  position: absolute;
  z-index: 0;
}
#random__enemy__img {
  position: absolute;
  z-index: 1;
  top: 22px;
  left: 82px;
}

.battle__side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.battle__side p {
  margin: 0;
  padding: 25px 0 0;
}
.battle__actions__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.battle__actions__wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.battle__line {
  width: 1px;
  height: 240px;
  background-color: var(--color-dark);
}
.battle__actions__wrapper fieldset {
  border: none;
}
.attack__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.defence__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
legend {
  font-weight: 800;
}

.attack__btn {
  font-family: "Life Savers", serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  width: 100px;
  height: 53px;
  background-image: url(../assets/png/btn.png);
  opacity: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  color: var(--color-dark);
  transition: 0.6s;
  background-color: transparent;
  cursor: pointer;
  margin-left: -30px;
}
.attack__btn:hover {
  opacity: 100%;
}
.attack__btn:disabled {
  background-color: none;
  opacity: 20%;
  cursor: none;
}
.logs__wrapper {
  margin-top: 10px;
  border: 1px solid var(--color-dark);
  background-color: var(--color-log-box);
  max-height: 200px;
  height: 20vh;
  overflow-y: scroll;
  padding: 5px 10px;
  font-size: 20px;
}
.logs__wrapper::-webkit-scrollbar {
  width: 15px;
}

.logs__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 0px;
}
.logs__wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-red);
  border-radius: 0px;
}
.logs__wrapper p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.fight__result__window {
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 800px;
  height: 400px;
  z-index: 1001;
  flex-shrink: 0;
  border: 1px solid #000;
  background: var(--color-light-background);
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.40);
  transform: translate(-200%, -50%); 
}
.fight__result__window.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.fight__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fight__wrapper p {
  padding-top: 130px;
  padding-bottom: 50px;
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  display: none;
}
.fight__wrapper p.active{
  display: block;
}
.close__btn {
  font-family: "Life Savers", serif;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  width: 142px;
  height: 76px;
  background-image: url(../assets/png/btn.png);
  opacity: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  color: var(--color-dark);
  transition: 0.6s;
  background-color: transparent;
  cursor: pointer;
}
.close__btn:hover {
  opacity: 100%;
}

.overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw; 
  height: 100vh;
  background: var(--color-overlay);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}
.overlay.active {
  opacity: 1;
  pointer-events: auto;
}