.settings__page {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.char__name__settings {
  display: flex;
  align-items: center;
  gap: 10px;
}
.edit__char__btn {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 25px;
  background-color: var(--color-dark);
  color: var(--color-white);
  transition: 0.6s;
}
.edit__char__btn:hover {
  background-color: var(--color-dark-red);
  box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.40);
}
.char__name__settings output {
  margin-right: 25px;
  text-transform: uppercase;
  font-family: "Oxanium", sans-serif;
  font-weight: 400;
  color: var(--color-dark-red);
}
.char__name__settings output.hiden {
  display: none;
}
.char__name__fieldset__settings {
  display: flex;
  align-items: center;
  gap: 15px;
  border: none;
  padding: 0;
  margin: 0;
}
.char__name__fieldset__settings input.hiden {
  display: none;
}
.char__name__fieldset__settings input {
  height: 30px;
  width: 200px;
  font-size: 16px;
  font-family: "Oxanium", sans-serif;
  font-weight: 400;
  color: var(--color-dark-red);
  text-align: center;
  text-transform: uppercase;
}

